@import url(./lib/css/fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: 'Roboto', sans-serif;
		color: '#013253';
	}

	a,
	input,
	button {
		@apply focus:outline-none;
	}
}

@layer components {
	.width-1260 {
		@apply max-w-[1260px] mx-auto;
	}

	.section-headline {
		@apply text-xl font-bold lg:text-3xl;
	}

	.custom-transition {
		@apply transition-all duration-300 ease-in-out;
	}

	.primary-button {
		@apply text-sm tracking-wide uppercase bg-secondary-a-100 hover:bg-primary-100 text-white font-bold py-3 px-5 rounded-[3px] transition duration-200 ease-in-out;
	}

	.secondary-button {
		@apply text-sm font-bold py-2 px-5 text-white bg-secondary-100 rounded-sm hover:bg-secondary-80 transition duration-200 ease-in-out;
	}

	.text-button {
		@apply text-sm font-bold text-secondary-100 px-5 py-2 rounded-sm bg-transparent hover:bg-secondary-10 transition duration-200 ease-in-out;
	}

	/* Custom Scrollbar */
	/* width */
	.custom-scrollbar::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	.custom-scrollbar::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: #888;
	}

	/* Handle on hover */
	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
}
